<div class="social-links">
    <a class="link" data-title="github.com/dashi_github" href="#" target="_blank">
        <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
    </a>
    <a class="link" data-title="twitter.com/dashi_twitter" href="#" target="_blank">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a class="link" data-title="facebook.com/dashi_facebook" href="#" target="_blank">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    <a class="link" data-title="dashi_email" href="#">
        <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
    </a>
</div>